.taskBlock {
  border: 1px solid #00A49A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 17px 33px;
  margin-bottom: 17px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.taskBlock_name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #00A49A;
  height: 100%;
}

.label {
  display: block;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #808080;
}
.input, .textarea {
  background: #EEEEEE;
  border-radius: 10px;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: none;
}

.textarea {
  height: 166px;
  resize: none;
}